.kev {
  position: absolute;
  background-image: url('/assets/images/kev.png');
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-size: cover;
  left: calc(var(--posX) - var(--scale) * var(--theBoysX)/2);
  top: calc(var(--posY) - var(--scale) * var(--theBoysY)/2);
  width: calc(var(--scale) * var(--theBoysX));
  height: calc(var(--scale) * var(--theBoysY));
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.text {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}

.text1 {
  bottom: 360px;
  right: 145px;
}

.text2 {
  bottom: 255px;
  left: 200px;
}

.text3 {
  top: 425px;
  right: 200px;
}

.text4 {
  top: 550px;
  left: 220px;
}

@media screen and (max-width: 500px) {
  
.kev {
  left: calc(var(--posX) - var(--theBoysX));
  top: calc(var(--posY) - var(--theBoysY));
  width: calc(2* var(--theBoysX));
  height: calc(2 * var(--theBoysY));
}

.subtitle {
  font-size: 25px;
}
  
.text1 {
  bottom: calc(360px /3 * 2);
  right: calc(145px /3 * 2);
}

.text2 {
  bottom: calc(255px /3 * 2);
  left: calc(200px /3 * 2);
}

.text3 {
  top: calc(425px /3 * 2);
  right: calc(200px /3 * 2);
}

.text4 {
  top: calc(550px /3 * 2);
  left: calc(220px /3 * 2);
}
}