<div class="container">
  <div class="container-column">
    <div class="title">Get in Touch</div>
    <div class="text">info@kevinvanrooy.be</div>
  </div>
  <div class="container-column">
    <div class="title">Connect</div>
    <div class="text">LinkedIn</div>
    <div class="text">Instagram</div>
  </div>
  <div class="container-column">
    <div class="title">Navigation</div>
    <div class="text">Home</div>
    <div class="text" routerLink="/portfolio">Portfolio</div>
    <div class="text" routerLink="/about">About</div>
  </div>
  <div class="container-column">
    <div class="title">Other</div>
    <div class="text">Home</div>
    <div class="text">Portfolio</div>
    <div class="text">About</div>
  </div>
</div>
