.container {
  padding: 100px calc(100vw/6);
  min-height: 20vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(20, 20, 20, 1);
}

.container-column {
  flex: 1;
  padding: 50px 30px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.text {
  font-size: 12px;
  margin: 5px 0;
  display: block;
}