.first-slide-bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#second-slide{
  flex: 0 0 fit-content;
  background-color: rgba(0, 0, 0, 1);
}

#third-slide{
  flex: 0 0 fit-content;
  background-color: rgba(10, 10, 10, 1);
}