
<div class="slideshow-container">
    <div class="slide-container" id="first-slide">
        <div class="page">
            <div class="title policy">Privacy Policy</div>
            <br>
            <div class="subtitle policy">Effective Date: 2023-10-17</div>
            <div class="paragraph policy">
                This Privacy Policy elucidates the practices of Kevin Van Rooy concerning the acquisition and
                utilization of information when users interact with the portfolio website of Kevin Van Rooy at 'https://kevinvanrooy.be'.
                This policy delineates your privacy rights and the legal safeguards afforded by privacy laws.
            </div>
            <br>
            <div class="subtitle policy">Information Collected</div>
            <div class="paragraph policy">
                When users browse our portfolio website, we collect Usage Data. This encompasses various types of information
                related to user interactions with the website, allowing us to gain insights into user behavior and preferences.
            </div>
            <br>
            <div class="subtitle policy">Data Collection Method</div>
            <div class="paragraph policy">
                Our data collection occurs passively as users navigate through the website. This includes the use of cookies
                and similar technologies, as well as server logs, which enable us to gather Usage Data.
            </div>
            <br>
            <div class="subtitle policy">Data Retention</div>
            <div class="paragraph policy">
                We will retain the collected information for a period of 1 year and 1 month. This duration allows us to analyze trends,
                enhance user experience, and maintain a record of website activity.     
            </div>
            <br>
            <div class="subtitle policy">Use of Collected Information</div>
            <div class="paragraph policy">
                The information we collect is employed for the provision and upkeep of our Service. This encompasses tasks such as website optimization,
                content customization, and troubleshooting to ensure an optimal user experience.
            </div>
            <br>
            <div class="subtitle policy">Sharing of Collected Information</div>
            <div class="paragraph policy">
                We will only share collected information with user consent. This may occur in cases where users choose to interact with
                third-party services integrated into our website.
            </div>
            <br>
            <div class="subtitle policy">Third Party Cookies</div>
            <div class="paragraph policy">
                Our website utilizes third-party cookies, specifically from Google Analytics, for the purpose of analyzing website performance and user behavior.
                These cookies facilitate the generation of statistical data used to optimize the website's functionality.
            </div>
            <br>
            <div class="subtitle policy">Cookie Categories</div>
            <div class="paragraph policy">
                The cookies employed on our website fall into two main categories: Strictly necessary cookies, which are essential for basic website functionality,
                and Performance cookies, which help us analyze user interactions to improve the Service.
            </div>
            <br>
            <div class="subtitle policy">Contact Information</div>
            <div class="paragraph policy">
                For any privacy-related inquiries or concerns, please do not hesitate to contact us at: info@kevinvanrooy.be.
            </div>
            <br>
            <br>
            <br>
            <div class="paragraph policy">
                Kevin Van Rooy
            </div>
        </div>
    </div>
    <div class="slide-container" id="last-slide">
      <div class="slide-volume">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  