
#first-slide{
    flex: 0 0 fit-content;
    min-height: 80vh;
    padding: 10vh 5vw 10vh 5vw;
    justify-content: center;
  }
  
  .page{
    position: relative;
    margin: 10vh calc(100vw/12) 0vh;
    padding: 10vh calc(100vw/12) 100px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 25px;
  }

  .title.policy{
    min-width: 250px;
  }
  
  .subtitle.policy{
    font-size:large;
    min-width: 250px;
  }
  .paragraph.policy{
    min-width: 250px;
  }