.project-tile {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 15px 25px;
    overflow: hidden;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.text-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

h2, p{
    margin: 0px;
}

.hidden {
    display: none;
  }
  


.tag {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 10px;
    border-radius: 15px;
    color: black;
}
