/* filter-bar.component.css */
.filter-bar {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .filter-bar button {
    background-color: #777;
    color: #fff;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .filter-bar button.active {
    background-color: #fff;
    color: #000;
  }
  