<div class="slideshow-container">
  <div class="slide-container" id="first-slide">
    <div class="slide-volume">
      <div class="page">
        <div class="subtitle about">MSc.&nbsp;in&nbsp;Architecture</div>
        <div class="subtitle about">Software&nbsp;Developer</div>
        <br><br>
        <div class="paragraph about">
          Hello World!
          <br><br>
          I'm a dedicated student with a strong foundation in physics and mathematics.
          After Secondary School this passion for logic and precision led me to pursue a Masters degree in Architecture,
          where I improved my skills to design by merging creativity with structure.
          Currently, I'm further broadening my horizons by pursuing a Bachelors degree in applied Information Technology,
          where i'm learning to develop software to prepare myself for the future development of technology.
          I'm confident that my dual background will help me bring a unique perspective to my work.</div>

        <div class="diplomas">
          <div class="diploma">
            <div class="paragraph">2016</div>
            <img class="icon" src="assets/images/diploma.svg" />
            <div class="paragraph active">Atheneum of Lier</div>
            <div class="paragraph">ASO degree</div>
            <div class="paragraph">Mathematics and Science</div>
          </div>
          <div class="diploma">
            <div class="paragraph">2021</div>
            <img class="icon" src="assets/images/diploma.svg" />
            <div class="paragraph active">University of Antwerp</div>
            <div class="paragraph">Masters degree</div>
            <div class="paragraph">Architecture</div>
          </div>
          <div class="diploma">
            <div class="paragraph">studying for</div>
            <img class="icon" src="assets/images/diploma.svg" />
            <div class="paragraph active">Artesis Plantijn</div>
            <div class="paragraph">Bachelor's degree</div>
            <div class="paragraph">Applied Information Technology</div>
          </div>
        </div>
        
      </div>
      <div class="kevpic"></div>
    </div>
  </div>

  <div class="slide-container" id="second-slide">
    <div class="onwhite"></div>
    <div class="icon-row" id="icon-row-1">
      <img class="icon" src="assets/images/languages/html-5.svg" />
      <img class="icon" src="assets/images/languages/css-3.svg" />
      <img class="icon" src="assets/images/languages/javascript.svg" />
      <img class="icon" src="assets/images/languages/c-sharp.svg" />
      <img class="icon" src="assets/images/languages/java.svg" />
      <img class="icon" src="assets/images/languages/python.svg" />
      <img class="icon" src="assets/images/languages/kotlin.svg" />
      <img class="icon" src="assets/images/languages/flutter.svg" />
      <img class="icon" src="assets/images/languages/angular.svg" />
    </div>
    <div class="icon-row" id="icon-row-2">
      <img class="icon" src="assets/images/languages/html-5.svg" />
      <img class="icon" src="assets/images/languages/css-3.svg" />
      <img class="icon" src="assets/images/languages/javascript.svg" />
      <img class="icon" src="assets/images/languages/c-sharp.svg" />
      <img class="icon" src="assets/images/languages/java.svg" />
      <img class="icon" src="assets/images/languages/python.svg" />
      <img class="icon" src="assets/images/languages/kotlin.svg" />
      <img class="icon" src="assets/images/languages/flutter.svg" />
      <img class="icon" src="assets/images/languages/angular.svg" />
    </div>
  </div>

  <div class="slide-container" id="third-slide">
    <div class="slide-volume"></div>
  </div>
  <div class="slide-container" id="last-slide">
    <div class="slide-volume">
      <app-footer></app-footer>
    </div>
  </div>
</div>
