.kevpic {
  position: absolute;
  background-image: url('/assets/images/me.png');
  background-repeat: no-repeat;
  background-size: cover;
  right: 0vw;
  bottom: -20vh;
  width: 50vw;
  height: 100vh;
  filter:brightness(1)  contrast(1) saturate(0.8) grayscale(0);
}

.page{
  position: relative;
  margin: 10vh calc(100vw/12) 0vh;
  padding: 10vh calc(100vw/12) 100px;
  background-color: rgb(194, 183, 166);
  border-radius: 25px 25px 0px 0px;
}

.title.about{
  width: 70vw;
  min-width: 250px;
}

.paragraph.about{
  width: 38vw;
  min-width: 250px;
}


#first-slide{
  flex: 0 0 fit-content;
  min-height: 50vh;
}

#second-slide{
  flex: 0 0 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

#third-slide{
  flex: 0 0 fit-content;
  background-color: rgb(39, 39, 39);
}

.icon-row{
  min-width: 100vw;

  display: flex;
  justify-content: space-around;
  animation: scrollRow 90s linear infinite;
}

.icon{
  width: 50px;
  height: 50px;
  filter: grayscale(1);
  opacity: 0.5;
}


@keyframes scrollRow {
  from {transform: translateX(0%);}
  to {transform: translateX(-100%);}
}

.diplomas {
  display: flex;
  width: 40vw;
  justify-content: space-around;
}

.diploma {
  display: flex;
  max-width: 250px;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.diploma .paragraph {
  text-align: center;
  font-size: 15px;
}

#extra-info{
  width: 90vw;
  font-style: italic;
}

@media screen and (max-width: 880px) {
  .title.about{
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .kevpic,.diplomas,.paragraph.about, #extra-info {
    width: auto;
  }
  .title.about{
    font-size: 35px;
  }
  .subtitle.about{
    font-size: 20px;
  }
}




.container {
  padding: 50px calc(100vw/6);
  min-height: 20vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.container-column {
  flex: 1;
  padding: 30px 30px;
}

.container .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.text {
  font-size: 12px;
  margin: 5px 0;
  display: block;
}