.first-slide-bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#second-slide{
  flex: 0 0 fit-content;
  background-color: rgba(0, 0, 0, 1);
}

#third-slide{
  flex: 0 0 fit-content;
  background-color: rgba(10, 10, 10, 1);
}


@media (max-width: 1000px) { /* Adjust the minimum width as per your needs */
  .title.centralized{
    font-size: 10vw ;
    font-weight: var(--title-weight);
    margin-top: calc(10vw / -2);

  }
}