
/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
:root {
  --scale: 3;
  --theBoysX: 90px;
  --theBoysY: 200px;
  --posX: 50vw;
  --posY: 40vh;


  --title-size: calc(1vw + 80px);
  --title-weight: 700; 

  --subtitle-size: calc(1vw + 30px);
  --subtitle-weight: 700;
  
  --paragraph-size: calc(0.2vw + 16px);
  --paragraph-weight: 300;
}


@import '~bootstrap/dist/css/bootstrap.css';

@font-face {
  font-family: HankenGrotesk;
  src: url(assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Thin.ttf);
}

p{display: inline;}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  font-family: HankenGrotesk;
  overflow:auto;
  box-sizing: border-box;
}

body, html, .navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-item .nav-link,
.navbar-custom .nav-item .navbar-text {
  color: white;
}

.onwhite{
  color: black;
}

button{
  font-size:larger;
  font-weight: 500;
  background-color: white;
  border-radius: 25px;
  padding: 10px 30px;
  border: none;
}

.centralized{
  position: relative;
  top: calc(10vh);
  padding: 20vh calc(100vw/6);
}

.styled{
  position: relative;
  padding: 20vh calc(100vw/6);
}

.active {
  font-weight: 700;
}

.title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: calc(var(--title-size));
}
.subtitle {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
  line-height: var(--subtitle-size);
}
.paragraph {
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weight);
  line-height: var(--paragraph-size);
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  /*scroll-snap-type: y mandatory;*/
  height: 100vh;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.slide-container {
  flex: 0 0 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start;
}

/*for the text*/
.slide-volume {
  position: relative;
}

.code   {background-color: rgba(080, 200, 120, 0.7);}
.art    {background-color: rgba(080, 188, 200, 0.7);}
.design {background-color: rgba(181, 100, 235, 0.7);}

#last-slide{
  flex: 0 0 fit-content;
}