<div class="slideshow-container">
  <div class="slide-container">
    <div class="slide-volume" id="first-slide">
      <div class="kevpic"></div>
      <div class="centralized">
        <div class="title about">Kevin Van&nbsp;Rooy</div>
        <br><br>
        <div class="paragraph about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut facilisis nisl. Integer at metus eget purus volutpat consectetur. Ut bibendum massa sed erat blandit auctor. Vivamus semper elit vel justo euismod tincidunt. Etiam consequat mi ac euismod tempor. Sed finibus vestibulum metus, vel egestas metus volutpat eu. Fusce semper, urna ut ultrices commodo, ligula ex cursus nulla, vitae tincidunt lectus elit vitae libero. Aenean condimentum ipsum et dui venenatis scelerisque.
      </div>
    </div>
  </div>
  <div class="slide-container" id="last-slide">
    <div class="slide-volume">
      <app-contact></app-contact>
    </div>
  </div>
</div>
